<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all">
    <style>
        .layui-table {
            width: 100% !important;
        }
    </style>
    <base th:href="${#request.getContextPath()}+'/'">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"> 查询: </label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="输入赛事标题查询" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>

<!--                <div class="layui-inline">-->
<!--                    <select name="topicType" lay-search id="topicType">-->
<!--                        <option value="">请选择导出题目类型</option>-->
<!--                        <option value="0">选择题</option>-->
<!--                        <option value="1">填空题</option>-->
<!--                        <option value="2">判断题</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="layui-inline">-->
<!--                    <button class="layui-btn layuiadmin-btn-useradmin export" lay-event="export"><i class="layui-icon layui-icon-export layuiadmin-button-btn"></i> 导出题目信息 </button>-->
<!--                </div>-->
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin add" data-type="add"><i class="layui-icon layui-icon-add-1"></i> 添加赛事 </button>
            </div>
            <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.cover }}>
            </script>
            <script type="text/html" id="table-useradmin-webuser">
                <a class="layui-btn layui-btn-normal layui-btn-xs edit" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i> 编辑 </a>
                <a class="layui-btn layui-btn-normal layui-btn-xs select" lay-event="select"><i
                        class="layui-icon layui-icon-addition"></i> 查看题目 </a>
            </script>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.config({
        base: '' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'aActivity', 'table', 'laydate','upload','form'], function () {
        var form = layui.form
            , $ = layui.$
            , table = layui.table
            , laydate = layui.laydate
            , upload = layui.upload
            , form = layui.form;

        laydate.render({
            elem: '#startTime', //指定元素
            type: 'datetime'
        });

        laydate.render({
            elem: '#endTime', //指定元素
            type: 'datetime'
        });
        // 监听搜索
        form.on('submit(LAY-user-front-search)', function (data) {
            var field = data.field;
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            //执行重载
            table.reload('LAY-user-manage', {
                where: field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        // 点击'添加赛事'事件
        $(document).on("click", ".add", function () {
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            layer.open({
                type: 2,
                area: ['900px', '320px'],
                title: "添加赛事",
                maxmin: true,
                content: 'system/activity/edit?companyType=1&id=',
                end: function () {
                    table.reload("LAY-user-manage");
                }
            });
        });

        // 导出题目信息
        $(document).on("click", ".export", function () {
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            var topicType = $("#topicType").val();
            console.log("topicType:",topicType);
            window.location.href = "system/export/exportActivityToExcel?companyType=1&topicType=" + topicType + "&activityId=";
        });

    });
</script>
<script>


</script>
</body>
</html>
