<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all">
    <style>
        .layui-table {
            width: 100% !important;
        }
    </style>
    <base th:href="${#request.getContextPath()}+'/'">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"> 题目标题 </label>
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="题目标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>

                <div class="layui-inline">
                    <select name="topicType" lay-search id="topicType">
                        <option value="">请选择导出题目类型</option>
                        <option value="0">选择题</option>
                        <!--                        <option value="1">填空题</option>-->
                        <option value="2">判断题</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin export" lay-event="export"><i class="layui-icon layui-icon-export layuiadmin-button-btn"></i> 导出题目信息 </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin add" data-type="add"><i class="layui-icon layui-icon-add-1"></i> 添加题目 </button>
                <button class="layui-btn" lay-submit lay-filter="deleteTopicAll" id="deleteTopicAll"><i class="layui-icon layui-icon-delete"></i> 删除部门下所有题目 </button>
                <button class="layui-btn" lay-submit lay-filter="deleteTopicForSelected" id="deleteTopicForSelected" lay-even="deleteTopicForSelected"><i class="layui-icon layui-icon-delete"></i> 删除部门下所选题目 </button>
                <button type="button"
                        class="layui-btn" id="uploadXuanZeExcel">
                    <i class="layui-icon">&#xe67c;</i>导入选择题信息
                </button>
                <!--                <button type="button"-->
                <!--                        class="layui-btn" id="uploadTianKongExcel">-->
                <!--                    <i class="layui-icon">&#xe67c;</i>导入填空题信息-->
                <!--                </button>-->
                <button type="button"
                        class="layui-btn" id="uploadPanDuanExcel">
                    <i class="layui-icon">&#xe67c;</i>导入判断题信息
                </button>
            </div>

            <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.cover }}>
            </script>
            <script type="text/html" id="table-useradmin-webuser">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="search"><i
                        class="layui-icon layui-icon-edit"></i>查看</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>

        <div class="layui-inline" id="exportTopicError">
            <label class="layui-form-label">错误信息:</label>
            <div class="layui-input-block">
                <textarea id = "topicError" rows="3" cols="200"></textarea>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: '' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'nengyuantopic', 'table', 'laydate','upload','form'], function () {
        var form = layui.form
            , $ = layui.$
            , table = layui.table
            , laydate = layui.laydate
            , upload = layui.upload
            , form = layui.form;

        // 监听搜索
        form.on('submit(LAY-user-front-search)', function (data) {
            var field = data.field;
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            //执行重载
            table.reload('LAY-user-manage', {
                where: field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        // 初始时隐藏错误提示框
        $("#exportTopicError").hide();
        // 上传选择题
        upload.render({
            elem: '#uploadXuanZeExcel'
            ,url: 'system/branchTopic/inputXuanZeFromExcel?type=3&topicType=0&companyType=1' //此处为所上传的请求路径
            ,accept: 'file' //普通文件
            ,exts: 'xls|excel|xlsx' //只允许上传压缩文件
            ,done: function(res){
                if("0000" === res.code){
                    layer.msg("操作成功", {time: 1000});
                    $("#topicError").text("");
                    $("#exportTopicError").hide();
                }else{
                    layer.msg("批量导入选择题失败");
                    $("#topicError").text("");
                    $("#topicError").text(res.msg);
                    $("#exportTopicError").show();
                }
                table.reload("LAY-user-manage", {
                    page: {
                        where: null,
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
        });

        // 上传填空题
        upload.render({
            elem: '#uploadTianKongExcel'
            ,url: 'system/branchTopic/inputTianKongFromExcel?type=3&topicType=1&companyType=1' //此处为所上传的请求路径
            ,accept: 'file' //普通文件
            ,exts: 'xls|excel|xlsx' //只允许上传压缩文件
            ,done: function(res){
                if("0000" === res.code){
                    layer.msg("操作成功", {time: 1000});
                    $("#topicError").text("");
                    $("#exportTopicError").hide();
                }else{
                    layer.msg("批量导入填空题失败");
                    $("#topicError").text("");
                    $("#topicError").text(res.msg);
                    $("#exportTopicError").show();
                }
                table.reload("LAY-user-manage", {
                    page: {
                        where: null,
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
        });

        // 上传判断题
        upload.render({
            elem: '#uploadPanDuanExcel'
            ,url: 'system/branchTopic/inputPanDuanFromExcel?type=3&topicType=2&companyType=1' //此处为所上传的请求路径
            ,accept: 'file' //普通文件
            ,exts: 'xls|excel|xlsx' //只允许上传压缩文件
            ,done: function(res){
                if("0000" === res.code){
                    layer.msg("操作成功", {time: 1000});
                    $("#topicError").text("");
                    $("#exportTopicError").hide();
                }else{
                    layer.msg("批量导入判断题失败");
                    $("#topicError").text("");
                    $("#topicError").text(res.msg);
                    $("#exportTopicError").show();
                }
                table.reload("LAY-user-manage", {
                    page: {
                        where: null,
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
        });

        $(document).on("click", ".add", function () {
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            layer.open({
                type: 2,
                area: ['100%', '100%'],
                title: "添加问题",
                maxmin: true,
                content: 'system/branchTopic/insertOrEditInit?type=3&companyType=1',
                end: function () {
                    // table.reload("LAY-user-manage");
                }
            });
        });

        // 删除部门下所有题目
        form.on('submit(deleteTopicAll)', function (obj) {
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            layer.confirm('确定删除所有题目吗？', function () {
                $.ajax({
                    url: "system/branchTopic/deleteTopicAll",
                    method: "POST",
                    data: {type: 3},
                    success: function (res) {
                        if ("0000" === res.code) {
                            layer.msg("操作成功", {time: 1000});
                            table.reload("LAY-user-manage", {
                                page: {
                                    where: null,
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        } else {
                            layer.msg(res.msg, {time: 1000});
                        }
                    }
                });
            });
        });

        var ids = "";
        table.on('checkbox(LAY-user-manage)', function(obj){
            var checkStatus = table.checkStatus('LAY-user-manage'); //test即为基础参数id对应的值
            var dataS = checkStatus.data;
            vids = "";
            for (var i = 0; i < dataS.length; i++) {
                ids += "," + dataS[i].id;
            }
            ids = ids.substr(1);
            console.log("ids:",ids);
        });

        // 删除部门下所选题目
        form.on('submit(deleteTopicForSelected)', function (obj) {
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            layer.confirm('确定删除所有题目吗？', function () {
                // 判断获取勾选选项是否为空
                if ("" == ids) {
                    layer.msg('请先勾选需删除题目', {time: 1000});
                } else {
                    $.ajax({
                        url: "system/branchTopic/deleteTopics",
                        method: "POST",
                        data: {type: 3, ids:ids},
                        success: function (res) {
                            if ("0000" === res.code) {
                                layer.msg("操作成功", {time: 1000});
                                table.reload("LAY-user-manage", {
                                    page: {
                                        where: null,
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            } else {
                                layer.msg(res.msg, {time: 1000});
                            }
                        }
                    })
                }
            })
        });

        // 导出题目信息
        $(document).on("click", ".export", function () {
            // 先删除错误提示框内容，隐藏
            $("#topicError").text("");
            $("#exportTopicError").hide();
            var topicType = $("#topicType").val();
            console.log("topicType:",topicType);
            window.location.href = "system/export/exportBranchToExcel?type=3&companyType=1&topicType=" + topicType;
        });

    });
</script>
<script>


</script>
</body>
</html>
